<section class="update-form" id='updateForm'>
    <form action="/books/<%= obj.id %>?_method=put" method="post">
        <div class="close-btn" id="closeBtn">
            <i class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div>
            <label>Book Title</label>
            <input type='text' name="title" value="<%= obj.title %>">
        </div>
        <div>
            <label>Author</label>
            <input type='text' name="author" value="<%= obj.author %>">
        </div>
        <div>
            <label>ISBN</label>
            <input type='text' name="isbn" value="<%= obj.isbn  %>">
        </div>
        <div>
            <label>Image URL</label>
            <input type='url' name="image_url" value="<%= obj.image_url %>">
        </div>
        <div>
            <label>Description</label>
            <textarea name="description"><%= obj.description %></textarea>
        </div>
        <div class="submit-btn">
            <button class="btn" type="submit">Update</button>
        </div>
    </form>
</section>